<?xml version="1.0"?>
<!--
/**
 * Copyright © Nimasystems (info@nimasystems.com). All rights reserved.
 * Please visit Nimasystems.com for license details
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Nimasystems\Freshchat\Api\Data\FreshchatDataInterface"
                type="Nimasystems\Freshchat\Model\FreshchatDataUpdaterResponse"/>

    <preference for="Nimasystems\Freshchat\Api\FreshchatDataUpdaterInterface"
                type="Nimasystems\Freshchat\Model\FreshchatDataUpdater"/>

    <type name="Magento\Customer\CustomerData\Customer">
        <plugin name="nimasystems_freshchat_customer_info" type="Nimasystems\Freshchat\Plugin\FreshchatCustomerInfo"
                disabled="false"/>
    </type>

    <type name="Magento\Eav\Model\Config">
        <arguments>
            <argument name="attributesForPreload" xsi:type="array">
                <item name="customer" xsi:type="array">
                    <item name="freshchat_restore_id" xsi:type="string">customer</item>
                </item>
            </argument>
        </arguments>
    </type>

</config>
